.lead {
  width: calc(1210 * var(--u));
  margin-top: calc(65 * var(--u));
}

.scenic {
  --pt: 50px;
}

.jobs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

@media (max-width: 900px) {
  .lead {
    width: 100%;
    margin-top: 20px;
  }

  .scenic {
    --pt: 32px;
  }

  .jobs {
    gap: 24px;
  }
}
