.title {
  align-self: flex-start;
  margin-left: calc(68 * var(--u));
}

.lead {
  display: flex;
  flex-direction: column;
  gap: 1.25em;
  width: calc(900 * var(--u));
  margin-top: calc(65 * var(--u));
}

.scenic {
  --pt: 50px;
}

.formSection {
  display: flex;
  justify-content: center;
}

@media (max-width: 900px) {
  .title {
    align-self: stretch;
    margin-left: 0;
  }

  .lead {
    width: 100%;
    margin-top: 20px;
  }

  .scenic {
    --pt: 32px;
  }
}
